@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@theme {
  --color-imigrasi-primary: #002855;
  --color-imigrasi-accent: #C5A059;
  --color-imigrasi-neutral-dark: #1A1A1A;
  --color-imigrasi-neutral-light: #F4F4F4;

  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-imigrasi-neutral-light text-imigrasi-neutral-dark dark:bg-neutral-900 dark:text-white transition-colors duration-200;
  }
}

.glass-card {
  @apply bg-white/80 dark:bg-neutral-800/80 backdrop-blur-md border border-white/20 dark:border-white/10 shadow-xl;
}

.sidebar-item-active {
  @apply bg-imigrasi-accent/10 text-imigrasi-accent border-r-4 border-imigrasi-accent;
}
